
<body>
<div class="background" #discoverElement>
    <ul nz-menu nzMode="inline" class="overlay-menu">
        <li nz-submenu nzTitle="More..." nzIcon="appstore">
        <ul>
          <li nz-menu-item (click)="openMyTrips()">My trips</li>
          <li nz-menu-item (click)="openAllTrips()">View all trips</li>
          <li nz-menu-item>
            <span class="menu-item-text" (click)="logout()">Log out</span> 
            <span nz-icon nzType="logout" nzTheme="outline"></span>
                </li>
          
        </ul>
      </li>
      </ul>
    <div class="title">
        <p>Discover the colorful world, {{currentUsername}}!</p><br>
    </div>
</div>
</body>
