
<body>
<div class="background" #discoverElement>
    <ul nz-menu nzMode="inline" class="overlay-menu">
        <li nz-submenu nzTitle="More..." nzIcon="appstore">
        <ul>
          <li nz-menu-item (click)="openMyTrips()">My trips</li>
          <li nz-menu-item (click)="openAllTrips()">View all trips</li>
          <li nz-menu-item>
            <span class="menu-item-text" (click)="logout()">Log out</span> 
            <span nz-icon nzType="logout" nzTheme="outline"></span>
                </li>
                
          
        </ul>
      </li>
      </ul>
    <div class="title">
      <p>Discover the colorful world, {{currentUsername}} !</p>
    </div>
    <hr><br><br><br>
<div class="container">

  <h1>Travel
    <h2>Travel anywhere with us</h2>
    <h3>Our experienced writers travel the world to bring you informative and inspirational features, destination
      round-ups, travel ideas, tips and beautiful photos in order to help you plan your next holiday.</h3>
  </h1>

  <h1>Travel Arrangements
    <h2>Get ready for your perfect journey</h2>
    <h3>We have plans, lists, itineraries for all kind of journeys wether it is about a cruise, a jungle trip or hiking on
      a mountain. We are prepared for any kind of adventures you want to choose.</h3>
  </h1>

  <h1>Our professional guide
    <h2>Discover places that you only had seen in movies with our guides</h2>
    <h3>Are you afraid you will miss a place and be sad that you didn't find in your trip? No worries! Our guides know
      everything you must see in your trip so you don't need to stress you will miss something. </h3>
  </h1>

  <h1>Activities
    <h2>Are you getting bored fast?</h2>
    <h3>Our partners will arrange everything for you to be sure that you will have no time to stay on your phone in your
      trip. We will prepare different kind of activities for the specific zone you travel and you will make an
      unforgettable memories with new people.</h3>
  </h1>
</div>
</div>
</body>
