.background{
    background-image: url(../../../../../assets/background.jpg);
    height: 595px;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
} 
.overlay-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 999;
  }
.title
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color:rgb(80, 97, 170);
    text-align: center;
    position: relative;
    top:10%;
    line-height: 12px;
    font-family: 'Helvetica';
    font-weight: bold;
}
  .menu-item-text {
    margin-right: 8px; 
  }
  