<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please write at least 5 letters!">
        <input nz-input formControlName="name" placeholder="Name" minlength="5"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Age</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please write at least 5 letters!">
        <input nz-input formControlName="age" placeholder="Age" type="number" min="0"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Address</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please write at least 5 letters!">
        <input nz-input formControlName="address" placeholder="Address" minlength="5"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Occupation</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please write at least 5 letters!!">
        <input nz-input formControlName="occupation" placeholder="Occupation" minlength="5"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Phone Number</nz-form-label>
      <nz-form-control [nzSpan]="4">
        <select formControlName="prefix" class="prefix-select">
          <option *ngFor="let prefix of availablePrefixes" [value]="prefix">{{prefix}}</option>
        </select>        
      </nz-form-control>
      <nz-form-control [nzSpan]="8" nzHasFeedback nzErrorTip="Please write 9 digits!">
        <input nz-input formControlName="phoneNumber" placeholder="Phone Number" type="text" pattern="[0-9]{9}"/>
         <div *ngIf="validateForm.controls['phoneNumber'].invalid && validateForm.controls['phoneNumber'].touched"
           class="error-message">
        {{ validateForm.controls['phoneNumber'].errors | phoneNumberPipe:selectedPrefix }}
      </div>
      </nz-form-control>
    </nz-form-item>   

    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
        <button nz-button (click)="resetForm($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  